.gradle/
local.properties
.idea/*.xml
.idea/.*
.idea/*/*.xml
.idea/caches/*
!.idea/copyright/*.xml
!.idea/dictionaries/orma.xml
!.idea/codeStyleSettings.xml
*.iml
.DS_Store
/build/*
processor/build/*
library/build/*
annotations/build/*
example/build/*
captures/
.gradletasknamecache

# jacoco
*.exec

# gh-pages
_site/

# What orma generates for example
!example/build/generated
example/build/generated/*
!example/build/generated/source
example/build/generated/source/*
!example/build/generated/source/apt
example/build/generated/source/apt/*
!example/build/generated/source/apt/normal
example/build/generated/source/apt/normal/*
!example/build/generated/source/apt/normal/debug
example/build/generated/source/apt/normal/debug/*
!example/build/generated/source/apt/normal/debug/com
example/build/generated/source/apt/normal/debug/com/*
!example/build/generated/source/apt/normal/debug/com/github
example/build/generated/source/apt/normal/debug/com/github/*
!example/build/generated/source/apt/normal/debug/com/github/gfx
example/build/generated/source/apt/normal/debug/com/github/gfx/*
!example/build/generated/source/apt/normal/debug/com/github/gfx/android
example/build/generated/source/apt/normal/debug/com/github/gfx/android/*
!example/build/generated/source/apt/normal/debug/com/github/gfx/android/orma
example/build/generated/source/apt/normal/debug/com/github/gfx/android/orma/*
!example/build/generated/source/apt/normal/debug/com/github/gfx/android/orma/example
example/build/generated/source/apt/normal/debug/com/github/gfx/android/orma/example/*
!example/build/generated/source/apt/normal/debug/com/github/gfx/android/orma/example/orma
