.gradle/
local.properties
gradle.properties
.idea/*.xml
.idea/.*
.idea/*/*.xml
!.idea/copyright/*.xml
!.idea/dictionaries/orma.xml
!.idea/codeStyleSettings.xml
*.iml
.DS_Store
build/
captures/
.gradletasknamecache

# gh-pages
_site/

# gradlew's bug?
true
